---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      <span style="float:right">
        <a href="{{site.locals.gitSrcHttp}}/tree/{{site.locals.gitBranch}}/{{page.path}}">Edit this page</a>
      </span>
    </p>
  </header>

  page path: {{ page.path }} <br>
  page name: {{ page.name }} <br>
  site title: {{ site.title }} <br>
  site source: {{ site.source }} <br>

 
        site:
        {{ site }}
        post:
        {{ post }}
        source:
        {{ source }}
        layout:
        {{ layout }}
        done1

        page-build:
        {{ page_build }}

        env:
        {{ process.env }}

        {%comment%}
        github:
          Generates huge output
          {{ site.github }}
        {%endcomment%}

        page:
        {{ page }}
        done2
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
